# Base de données G5API (MySQL)
MYSQL_HOST=192.168.1.x
MYSQL_PORT=3306
MYSQL_DATABASE=get5
MYSQL_USER=get5
MYSQL_PASSWORD=

# Optionnel : filtrer par saison G5API
SEASON_ID=

# Steam API (avatars)
STEAM_API_KEY=

# Mots de passe panel admin
ADMIN_PASSWORD=
BRACKETS_ADMIN_PASSWORD=
